:root {
  --accent-color: #fcb11c;
  --text-color: #1a1a1a;

  --paragraph-space: 8px;
}

body {
  font-family: 'Istok Web', sans-serif;
  color: #1a1a1a;
  line-height: 1.2em;
}

@page {
  margin: 20mm;
}

strong {
  font-weight: 600;
}

i {
  font-style: italic;
}

a {
  color: var(--text-color);
}


hr {
  border: none;
  border-top: 1px solid lightgray;
}