.fullName {
  font-size: 2.5em;
  font-weight: 500;
  margin-bottom: 30px;
  line-height: 1em;
}

.role {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.experience {
  font-size: 1.5em;
  color: gray;
  margin-bottom: 20px;
}