.sidebar {
  min-width: 250px;
  background-color: var(--accent-color);
  padding: 30px 20px 0 20px;
}

.imageContainer {
  text-align: center;
  margin-bottom: 30px;
}

.image {
  border-radius: 6px;
  border: 1px solid white !important;
}

.stack {
  page-break-inside: avoid;
}

.stack + .stack {
  margin-top: 30px;
}
